<Highlighter>
    <h1>Regular Counter</h1>
    <Count>
        <p>Counter count: @currentCount</p>
    </Count>
    <button class="btn btn-primary" @onclick="IncrementCount">
        Click me
    </button>
</Highlighter>

@code {

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
